extends layout

block content

    h1 #{title}

    br
    if (errors)
        for error in errors
            div!= error.msg
    else if message === 'name_exists'
        div A note with that name already exists.
    else
        br
    br

    form(method='POST' action='')
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='name for new note', name='name', value=(undefined===selectedNote ? '' : selectedNote.name))
        div.form-group
            label(for='body') Notes:
            input#body.form-control(type='textarea', placeholder='notes', name='body', value=(undefined===selectedNote ? '' : selectedNote.body))
        button.btn.btn-primary(type='submit') Submit

    br

    hr

    if (selectedNote)

        p
            a(href='/notes/' + selectedNote._id) Cancel

    else

        p
            a(href='/notes/') Cancel

