extends layout

block content

    h1= title

    br
    br
    br

    h4= selectedNote.name

    p= selectedNote.body

    br

    br

    br

    div #[strong Do you really want to delete this Note?]

    br

    form(method='POST' action='')
        div.form-group
            input#id.form-control(type='hidden', name='id', required='true', value=selectedNote._id)

        button.btn.btn-primary(type='submit') Delete

    br

    hr

    p
        a(href='/notes/' + selectedNote._id) Cancel

