extend layout

block content

    h1 #{title}
    br

    if message === 'delete_failed'
        div No account was deleted.
    else if message === 'email_update_success'
        div Your email address was updated.
    else if message === 'password_update_success'
        div Your password was updated.
    else
        br

    br


    p Email address:
    ul
        li #{email}


    hr
    p Notes

    if notes != ""
        for note in notes
            ul
                li
                    a(href='/notes/' + note._id ) #{note.name}
    else
        ul
            li You have not created any notes


    hr

    if message !== 'delete'

        p
            a(href='/account/email') Update email address
        p
            a(href='/account/password') Update password
        p
            a(href='/account?message=delete') Delete account

    else

        br

        p


        p #[strong Are you sure you want to delete your account?]&nbsp;&nbsp;
            a(href='/account/delete/' + user_id) #[strong Yes]

        p
            a(href='/account') Cancel