extends layout

block content

    h1 #{title}

    br

    if message === 'incorrect_password'
        div The current password you entered is not correct.
    else if errors
        for error in errors
            div!= error.msg
    else
        br

    br

    form(method='POST' action='')
        div.form-group
            label(for='cur_password') Current password
            input#cur_password.form-control(type='password', placeholder='current password', name='cur_password', value=(undefined === cur_password ? '' : cur_password))
        div.form-group
            label(for='new_password') New password
            input#new_password.form-control(type='password', placeholder='new password', name='new_password', value=(undefined === new_password ? '' : new_password))
        button.btn.btn-primary(type='submit') Submit
        button.btn(type='button' onclick="toggler(this)") Show

    br
    div
        a(href='/account') Cancel

    script.
        function toggler(e) {
            if (e.innerHTML === 'Show') {
                e.innerHTML = 'Hide'
                document.getElementById('cur_password').type = "text";
                document.getElementById('new_password').type = "text";
            } else {
                e.innerHTML = 'Show'
                document.getElementById('cur_password').type = "password";
                document.getElementById('new_password').type = "password";
            }
        }

